body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 18px;
}

/* ------對話機器人（未實作）------- */
.chat-btn {
    box-sizing: border-box;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #335441;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    width: 80px;
    height: 80px;
    border-radius: 100px 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    will-change: transform;
}
.chat-btn > div {
    position: relative;
    width: 80px;
    height: 80px;
    padding: auto;
}

.chat-btn div div {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;
    position: absolute;
}

.chat-btn .left-eye {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.chat-btn .right-eye {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.chat-btn .mouth {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0.001deg);
}

/* ---------- 對話框 ---------- */
.chat-box {
    position: fixed;
    bottom: 80px;
    right: 150px;
    width: 400px;
    height: 530px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, .1)
                0 32px 64px -48px rgba(0, 0, 0, .5);
    overflow-y: auto;
    padding: 15px 20px 70px;
}

.chat-header {
    background-color: #87BC60;
    border-radius: 16px 16px 0 0;
    height: 128px;
}

.chat-header h1 {
    margin: 0;
}

.chat-header img {
    width: 113px;
    height: 36px;
    display: block;
    margin: 0 auto;
}

.chatbox .chat {
    display: flex;
}

.chatbox .outgoing {
    margin: 10px 8px;
    justify-content: flex-end;
}

.chatbox .incoming {
    margin: 10px 8px;
    justify-content: flex-start;
}

.chatbox .chat p {
    background-color: #87BC60;
    max-width: 75%;
    padding: 8px 12px;
    margin: 10px 8px;
    border-radius: 8px 8px 0 8px;
}

.chatbox .incoming p {
    background-color: #fff;
    border: 2px solid #909090;
    padding: 8px 12px;
    margin: 10px 8px;
    border-radius: 8px 8px 8px 0;
}

.chatbox .chat-imput {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat-imput textarea {
    width: 70%;
    font-size: 16px;
    outline: 2px solid #909090;
    border-radius: 8px;
    resize: none;
    padding: 12px 8px 0;
    margin: 0 auto;
}

.chat-imput .send-btn {
    font-size: 32px;
    color: #355441;
    cursor: pointer;
    margin-left: 50px;
}


/* 滑鼠hover（平板size以上才有） */

@media screen and (min-width: 1000px) {
    .chat-btn:hover {
        transform: translateY(-15px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .chat-btn:hover .left-eye {
        top: 35%;
        left: 20px;
    }

    .chat-btn:hover .right-eye {
        top: 35%;
        right: 20px;
    }

    .chat-btn:hover .mouth {
        width: 40px;
        height: 20px;
        border-radius: 0 0 100px 100px;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* 滑鼠點擊 */
.chat-btn.active .left-eye {
    top: 28%;
    left: 15px;
}

.chat-btn.active .right-eye {
    top: 35%;
    right: 28px;
}

.chat-btn.active .mouth {
    width: 35px;
    height: 18px;
    border-radius: 0 0 100px 100px;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%) rotateZ(15deg);
}

@media screen and (max-width: 450px) {
    .chat-btn {
        width: 75px;
        height: 75px;
    }
    .chat-btn > div div {
        width: 10px;
        height: 10px;
    }
    .chat-btn > div div {
        width: 10px;
        height: 10px;
    }
}
